{% extends 'shortener/base.html' %}

{% block content %}
    <section class="section">
        <div class="container">
            {% if links %}
            <table class="table">
                <thead style="background-color:#62cfd1;">
                    <tr>
                        <th style="width:5%">S.No</th>
                        <th style="width:45%">Original URL</th>
                        <th style="width:25%">Short URL</th>
                        <th style="width:25%">Visits</th>
                    </tr>
                </thead>
                <tbody>
                        {% for link in links %}
                        <tr style="color:black;">
                            <td> {{forloop.counter}}</td>
                            <td   style="max-width: 150px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="{{ link.original_url }}" target="_blank">{{link.original_url}}</a></td>
<!--                            <td>{{ request.scheme }}://{{ request.get_host }}/url_shortener/{{ link.short_url }}</td>-->
                            <td><a href="{{ request.scheme }}://{{ request.get_host }}/url_shortener/{{ link.short_url }}" target="_blank">{{ request.scheme }}://{{ request.get_host }}/url_shortener/{{ link.short_url }}</a></td>
                            <td>{{ link.visits }}</td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p style="color:springgreen"> No URLs shorten so far...Give it a try :)</p>
            {% endif %}
    </div>
    </section>

{% endblock %}